<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>{{.title}}</title>
</head>
<body>
<h1>{{.poll.Question}}</h1>
{{ if .poll.Options}}
    <ul>
    {{range .poll.Options}}
        <li id="{{.ID}}">{{.Value}}<form action="/vote" method="POST">
                <input type="hidden" name="poll_str" id="poll_str" value="{{$.poll.Question}}">
                <input type="hidden" name="opt_str" id="opt_str" value="{{.Value}}">
                <input type="hidden" name="id" id="id" value="{{.ID}}">
                <input type="hidden" name="poll_id" id="poll_id" value="{{$.poll.ID}}">
                <input class="text-small-uppercase" id="submit" type="submit" value="Vote">
            </form>
        </li>
        <br>
    {{end}}
    </ul>
{{end}}

<p>Vote Cost: {{.poll.Cost}} satoshis</p>
<p>Closes At: {{.poll.ClosesAt}}</p>
</body>
</html>